
  <!--<app-collapse>-->
    <!--<div class="title">-->
      <!--<h2>Hello i'm title</h2>-->
    <!--</div>-->
    <!--<div class="description">-->
      <!--<p>Hola i'm description</p>-->
    <!--</div>-->
  <!--</app-collapse>-->

 <app-coll #p>
<app-coll-item>
    Collapsible Group Item #1

    <p class="card-body"  card-body>
     Anim pariatur cliche reprehenderit, enim eiusmod high
     life accusamus terry richardson ad squid. 3 wolf moon officia aute,
     non cupidatat skateboard dolor brunch.

   </p>
</app-coll-item>


   <app-coll-item>
     Collapsible Group Item #2
     <p class="card-body"  card-body>
     Anim pariatur cliche reprehenderit, enim eiusmod high
     life accusamus terry richardson ad squid. 3 wolf moon officia aute,
     non cupidatat skateboard dolor brunch.

   </p>
     </app-coll-item>
   <app-coll-item>
     Collapsible Group Item #3

     <p class="card-body"  card-body>
     Anim pariatur cliche reprehenderit, enim eiusmod high
     life accusamus terry richardson ad squid. 3 wolf moon officia aute,
     non cupidatat skateboard dolor brunch.

   </p>
   </app-coll-item>



 </app-coll>

